.contacto {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.contacto-contenido {
    width: 100%;
    max-width: 1000px;
    padding: 35px;
    background: #fffaf0;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
}

.contacto-contenido h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #4b3535;
}

.contacto-intro {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 1.7;
    color: #4b3535;
}

.contacto-seccion {
    margin-top: 30px;
}

.contacto-seccion h2 {
    margin-bottom: 12px;
    color: #4b3535;
}

.contacto-seccion p {
    line-height: 1.7;
    color: #555;
    margin-bottom: 8px;
}


@media (max-width: 600px) {

    .contacto {
        padding: 25px 15px;
    }

    .contacto-contenido {
        padding: 20px 15px;
    }

    .contacto-contenido h1 {
        font-size: 18px;
    }

    .contacto-intro {
        font-size: 12px;
    }

    .contacto-seccion h2 {
        font-size: 14px;
    }

    .contacto-seccion p {
        font-size: 12px;
    }

}